In [3]:
# Import required packages
import pandas as pd
import requests

In [4]:
# Load the CSV data
orders = pd.read_csv('data/orders-2024-01-21.csv')
orders.head()

   amount currency
0   43.75      EUR
1  385.50      GBP
2  495.50      GBP
3  117.99      GBP
4  624.00      USD

In [5]:
# Fetch exchange rates from the VATComply API
request_url = 'https://api.vatcomply.com/rates'
params = {
    'date': '2024-01-21',
    'base': 'USD'
}
response = requests.get(request_url, params=params)
rates = response.json()['rates']
rates

{'EUR': 0.918526683200147,
 'USD': 1.0,
 'JPY': 148.0389455313677,
 'BGN': 1.7964544870028474,
 'CZK': 22.791402590245244,
 'DKK': 6.849912739965095,
 'GBP': 0.788325525856526,
 'HUF': 350.44548544135205,
 'PLN': 4.0064296867824005,
 'RON': 4.572058418297051,
 'SEK': 10.452833654817674,
 'CHF': 0.8688343896390189,
 'ISK': 136.7686231285019,
 'NOK': 10.480389455313677,
 'TRY': 30.192523192798753,
 'AUD': 1.5155690272802425,
 'BRL': 4.908974005694866,
 'CAD': 1.3461927068981354,
 'CNY': 7.191237255442271,
 'HKD': 7.819233948746211,
 'IDR': 15607.449251400754,
 'ILS': 3.7403325066593185,
 'INR': 83.07936070542848,
 'KRW': 1333.6915587397814,
 'MXN': 17.129971525672822,
 'MYR': 4.717461192247635,
 'NZD': 1.6347937907596215,
 'PHP': 55.98971250114816,
 'SGD': 1.3409571048038946,
 'THB': 35.45972260494167,
 'ZAR': 19.00358225406448}

In [6]:
# Map exchange rates to the 'currency' column
orders['exchange_rate'] = orders['currency'].map(rates)
orders.head()

   amount currency  exchange_rate
0   43.75      EUR       0.918527
1  385.50      GBP       0.788326
2  495.50      GBP       0.788326
3  117.99      GBP       0.788326
4  624.00      USD       1.000000

In [7]:
# Calculate sales in USD
orders['amount_usd'] = orders['amount'] * orders['exchange_rate']
orders.head()

   amount currency  exchange_rate  amount_usd
0   43.75      EUR       0.918527   40.185542
1  385.50      GBP       0.788326  303.899490
2  495.50      GBP       0.788326  390.615298
3  117.99      GBP       0.788326   93.014529
4  624.00      USD       1.000000  624.000000

In [8]:
# Calculate total sales in USD
total_usd_sales = orders['amount_usd'].sum()
print(f"Total Sales in USD: ${total_usd_sales:,.2f}")

Total Sales in USD: $326,864.40